
.modal {
  width: 90vw;
  max-height: 90vh;
  top: 50%;
  left: 50%;
  z-index: 50;
  position: fixed;
  border-radius: 10px;
  border: 1px solid green;
  background-color: white;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
}

.popup-snapshoot {
  padding: 15px;
  display: flex;
  justify-content: center;
}

#popup-snapshoot-desktop {
  display: none;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.modal-header-content {
  display: flex;
}

.modal-top-links {
  display: none;
}

.modal-header-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header-close-button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  position: fixed;
  color: #fff;
  font-size: 2rem;
  font-weight: lighter;
  line-height: 2rem;
  top: 27px;
  right: 33px;
}

.modal-body {
  padding: 10px 15px;
}

.modal-bottom-links {
  display: flex;
  padding: 10px 15px 20px;
  justify-content: space-around;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: 200ms ease-in-out;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.5);
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

