.modal {
  width: 313px;
  top: 50%;
  left: 50%;
  z-index: 50;
  position: fixed;
  border-radius: 15px;
  padding: 15px;
  display: grid;
  gap: 10px;
  background-color: white;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  overflow-y: auto;
}

.popup-snapshoot {
  display: flex;
  justify-content: center;
}

#popup-snapshoot-desktop {
  display: none;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.modal-header-content {
  display: flex;
}

.modal-header ul li {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  background: #ebf0ee;
  border-radius: 4px;
  color: #3a4a42;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
}

.modal-header-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header-close-button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  position: fixed;
  top: 34px;
  right: 31px;
}

.modal-header-close-button-desktop {
  display: none;
}

.modal-body {
  padding: 0;
}

.modal-bottom-links {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.modal-bottom-links .btn {
  min-width: 100px;
  text-align: center;
  padding: 10px;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
}

.modal-bottom-links .btn a {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  text-align: center;
  gap: 8px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

.modal-top-links {
  display: none;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: 200ms ease-in-out;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.5);
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}
