@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(246, 245, 245);
  font-family: 'Inter', 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
}

.wrapper {
  max-width: 375px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background: #fff;
}

header {
  width: 100%;
  display: flex;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 1rem 1.3rem;
  justify-content: space-between;
}

header .welcome-logo {
  color: #333;
  text-decoration: none;
}

.headline {
  height: 80vh;
  display: flex;
  padding: 30% 10% 0;
  justify-content: last baseline;
  flex-direction: column;
  align-items: center;
  background: url("images/header-illsutration-mobile.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-color: #fff;
}

.greeting-text,
.profission-text,
.supporting-text {
  text-align: center;
}

.greeting-text,
.profission-text {
  margin: 3px;
  font-size: 1.8em;
  font-weight: 700;
}

.profission-text {
  color: rgb(66, 188, 148);
}

.supporting-text {
  margin: 1rem 2rem;
  line-height: 1.6;
  font-weight: 500;
}

.social-media {
  width: 60%;
}

.social-media ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 7vh;
}

.action-arrow-down {
  position: absolute;
  bottom: 0;
}
