@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.btn {
  padding: 12px;
  color: white;
  height: 24px;
  text-decoration: none;
  background-color: #36b37f;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-wrap: nowrap;
  border: none;
}

.btn a {
  text-decoration: none;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  overflow-x: hidden;
}

.wrapper {
  width: 375px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  overflow-x: hidden;
  gap: 40px;
}

header {
  width: calc(100% - 6px);
  font-weight: 600;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-branding {
  color: black;
  text-decoration: none;
}

.nav-branding.active {
  color: white;
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  color: #4a3a3b;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
}

.navbar {
  width: 100%;
  min-height: 60px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  width: 100%;
  height: 90vh;
  position: fixed;
  top: 50px;
  right: -120%;
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: flex-start;
  align-items: flex-start;
  transition: 0.5s ease;
  z-index: 10;
}

.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  color: green;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

.humburger {
  cursor: pointer;
}

.humburger.active .bar:nth-child(2) {
  opacity: 0;
}

.humburger.active .bar:nth-child(1) {
  width: 22px;
  height: 2px;
  margin: 5px auto;
  background-color: #67798e;
  transform: translateY(8px) rotate(45deg);
}

.humburger.active .bar:nth-child(3) {
  width: 22px;
  height: 2px;
  margin: 5px auto;
  background-color: #67798e;
  transform: translateY(-8px) rotate(-45deg);
}

.nav-item {
  margin: 16px 0;
}

.nav-menu.active {
  right: 0;
  left: 1%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
}

/* ----------------------------------Headline Section------------------------------------ */

.headline {
  height: 80vh;
  display: flex;
  padding: 20% 10% 0;
  flex-direction: column;
  align-items: center;
  background: url("images/header-illsutration-mobile.svg");
  background-position: top;
  background-repeat: no-repeat;
}

.greeting-text,
.profission-text,
.supporting-text {
  text-align: center;
}

.greeting-text,
.profission-text {
  margin: 3px;
  font-size: 1.8em;
  font-weight: 700;
}

.profission-text {
  color: rgb(66, 188, 148);
}

.supporting-text {
  margin: 1rem 2rem;
  line-height: 1.6;
  font-weight: 500;
}

.social-media {
  width: 60%;
}

.social-media ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 7vh;
}

.action-arrow-down {
  position: absolute;
  bottom: 0;
}

/* ----------------------------------Recent Section------------------------------------ */

.grid {
  display: grid;
}

.recent-work {
  width: 100%;
  margin: 0 auto;
  justify-items: center;
}

.recent-wrok-header {
  width: 70%;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
}

.recent-wrok-header h1 {
  margin: 5px auto;
}

.recent-wrok-header hr {
  width: 25%;
  margin: 0 auto;
  border: 3px solid green;
  border-radius: 3px;
}

.recent-work-container {
  width: 331px;
  margin-top: 50px;
  gap: 25px;
}

.recent-work-carts {
  width: 100%;
  height: 474px;
  border-radius: 8px;
  border: 1px solid #d0d9d4;
  background-color: #ebf0ee;
}

.cart-snapshoot {
  width: 100%;
  height: 252px;
}

.cart-summary {
  width: calc(100% - 22px);
  height: 200px;
  padding: 11px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background: #fff;
  border-radius: 8px;
}

.project-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin: 5px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #3a4a42;
}

.project-tags {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 8px;
  height: 32px;
}

.cart-summary ul li {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  background: #ebf0ee;
  border-radius: 4px;
  color: #3a4a42;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
}

.cart-summary .btn {
  height: 20px;
  font-weight: 500;
}

/* ----------------------------------About me Section------------------------------------ */

.about-me {
  width: 100%;
  margin: 0 auto;
  justify-items: center;
}

.about-me-header {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: url("images/aboutme-topright.svg"), url("images/aboutme-bottomleft.svg");
  background-position: right top, left bottom;
  background-repeat: no-repeat;
}

.about-me-header h1 {
  width: 60%;
  font-size: 1.8em;
  font-weight: 700;
  text-align: center;
}

.about-me-header p {
  width: 70%;
  margin: 0 auto 25px;
  line-height: 1.6;
  font-weight: 500;
  text-align: center;
}

.about-me-header .btn {
  width: 135px;
  font-weight: 500;
  text-align: center;
}

.about-me-carts-container {
  width: 331px;
  margin-top: 50px;
  gap: 25px;
}

.about-me-carts {
  width: 100%;
  height: 352px;
  padding-bottom: 5%;
  border-radius: 8px;
  border: 1px solid #c1c7d0;
  background-color: #ebf0ee;
  transition: width 2.5s, height 2.5s;
}

.about-me-carts:hover {
  width: 96%;
  height: 342px;
  margin: 5px 2% 5px 2%;
}

.icon-placeholder {
  width: 100%;
  height: 128px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-tags {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-cart-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
}

.about-cart-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  height: 40px;
  gap: 8px;
}

.title-tags ul li {
  display: flex;
  padding: 8px 12px;
  background: #fff;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #36b37e;
  border-radius: 8px;
}

.form-itself small {
  color: red;
  font-size: 0.8rem;
}

/* ----------------------------------form Section------------------------------------ */

.from-section {
  width: 100%;
  padding-bottom: 5vh;
  display: flex;
  justify-content: center;
  background: url("images/contact-form-illustration.svg");
  background-position: right bottom;
  background-repeat: no-repeat;
}

.form-section-container {
  width: 331px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.form-header {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.4rem;
  color: #172b4d;
  text-align: justify;
}

.form-itself {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-itself input,
.form-itself textarea {
  padding: 10px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
}

.form-itself textarea {
  height: 100px;
}

.form-itself .btn {
  width: 129px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  align-self: center;
}

/* ----------------------------------footer Section------------------------------------ */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.footer .footer-social-media {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .footer-social-media ul {
  padding: 0;
  display: flex;
  gap: 12%;
  justify-content: center;
  list-style-type: none;
}

/* --------------------------------------------Desktop-View Styles---------------------------------------------- */
