@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.btn {
  height: 24px;
  padding: 12px;
  color: white;
  text-decoration: none;
  background-color: #36b37f;
  border-radius: 4px;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(246, 245, 245);
  font-family: 'Inter', 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
}

.wrapper {
  max-width: 375px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
}

header {
  width: 100%;
  display: flex;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 1rem 1.3rem;
  justify-content: space-between;
}

header .welcome-logo {
  color: #333;
  text-decoration: none;
}

/* ---------------------Headline Section----------------------- */

.headline {
  height: 80vh;
  display: flex;
  padding: 30% 10% 0;
  justify-content: last baseline;
  flex-direction: column;
  align-items: center;
  background: url("images/header-illsutration-mobile.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-color: #fff;
}

.greeting-text,
.profission-text,
.supporting-text {
  text-align: center;
}

.greeting-text,
.profission-text {
  margin: 3px;
  font-size: 1.8em;
  font-weight: 700;
}

.profission-text {
  color: rgb(66, 188, 148);
}

.supporting-text {
  margin: 1rem 2rem;
  line-height: 1.6;
  font-weight: 500;
}

.social-media {
  width: 60%;
}

.social-media ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 7vh;
}

.action-arrow-down {
  position: absolute;
  bottom: 0;
}

/* ---------------------Recent Section----------------------- */

.grid {
  display: grid;
}

.recent-work {
  width: 100%;
  margin: 20px auto;
  justify-items: center;
}

.recent-wrok-header {
  width: 70%;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
}

.recent-wrok-header h1 {
  margin: 5px auto;
}

.recent-wrok-header hr {
  width: 25%;
  margin: 0 auto;
  border: 3px solid green;
  border-radius: 3px;
}

.recent-work-container {
  width: 331px;
  margin-top: 50px;
  gap: 25px;
}

.recent-work-carts {
  width: 100%;
  height: 474px;
  position: relative;
  border-radius: 8px;
  border: 1px solid #d0d9d4;
  background-color: #ebf0ee;
}

.cart-summary {
  width: calc(100% - 32px);
  height: 222px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.1rem;
  position: absolute;
  bottom: 0;
  background: #fff;
  border-radius: 8px;
}

.project-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin: 5px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #3a4a42;
}

.project-tags {
  padding: 0;
  gap: 8px;
  height: 32px;
  list-style-type: none;
}

.project-tags li {
  padding: 8px 12px;
  background: #ebf0ee;
  border-radius: 4px;
  color: #3a4a42;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  float: left;
  margin-right: 5px;
}

.cart-summary .btn {
  height: 20px;
  font-weight: 500;
}

/* ---------------------About me Section----------------------- */

.about-me {
  width: 100%;
  margin: 20px auto;
  justify-items: center;
}

.about-me-header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.about-me-header #topright {
  position: absolute;
  top: -20px;
  right: 0;
}

.about-me-header h1 {
  width: 60%;
  font-size: 1.8em;
  font-weight: 700;
  text-align: center;
}

.about-me-header p {
  width: 70%;
  margin: 0 auto 25px;
  line-height: 1.6;
  font-weight: 500;
  text-align: center;
}

.about-me-header #bottomleft {
  position: absolute;
  left: 0;
  bottom: 0;
}

.about-me-header .btn {
  width: 135px;
  font-weight: 500;
  text-align: center;
}

.about-me-carts-container {
  width: 331px;
  margin-top: 50px;
  gap: 25px;
}

.about-me-carts {
  width: 100%;
  height: 352px;
  border-radius: 8px;
  border: 1px solid #c1c7d0;
  background-color: #ebf0ee;
}

.icon-placeholder {
  width: 100%;
  height: 128px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-tags {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-cart-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
}

.about-cart-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 40px;
  gap: 8px;
}

.about-cart-tags span {
  display: flex;
  padding: 8px 12px;
  background: #fff;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #36b37e;
  border-radius: 8px;
}
